<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Express Mongo</title>
    <script src="main.js"></script>

</head>
<body>
    <h1>CRUD EXPRESS MONGO</h1>
    <form action="/quotes" method="POST">
        <input type="text" name="name" placeholder="Name">
        <br>
        <input type="text" name="quote" placeholder="Quote">
        <br>
        <button type="submit">Submit</button>
    </form>

    <div id="message"></div>
    <h2>Quotes</h2>
    <ul class="quotes">
        <% for (let i = 0; i < quotes.length; i++) { %>
            <li class="quote">
                <span><%= quotes[i].name %></span>:
                <span><%= quotes[i].quote %></span>
                <button  class="update-button" data-id="<%= quotes[i]._id %>">Update</button>
                <button action="/quotes[i]._id" method="Delete" class="delete-button" data-id="<%= quotes[i]._id %>">Delete</button>
            </li>
        <% } %>
    </ul>


    
</body>
</html>